<mat-card>
    <mat-card-actions>
      <button 
        color="primary" 
        (click)="generateSrc()"
        mat-button 
        mat-raised-button>
        Give me another cat
      </button>
    </mat-card-actions>
    <img 
      src="{{ src }}" 
      alt="Cute cat"
      mat-card-image>
  </mat-card>
